.navbar {
    height: 50px;
    background-color: rgba(102, 16, 83, 0.698);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    flex-wrap: wrap;

}

.card {
    width: 30%;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    border-radius: 20px;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.desc {
    color: #333;
    margin-bottom: 20px;
    line-height: 25px;
}

.cardButton {
    border: none;
    border-radius: 10px;
    background-color: rgba(53, 16, 102, 0.678);
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.postDesc {
    padding: 0 100px;
    font-size: 24px;
    font-weight: 300;
    color: gray;
    margin-top: 50px;
}

.postLongDesc {
    padding: 100px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 24px;
    
}