.navbar {
     height: 50px;
     background-color: rgba(102, 16, 83, 0.698);
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}